body{
    font-family: 'Playfair Display', serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h3{
    font-size: 25px;
}
.orange_flavour{
    color: orange;
}
section{
    display: -webkit-inline-flex;
}
.half-width{
    width: 50%;
    padding-left: 80px;
    padding-top: 5px;
}
.half-width img{
    width: 90%;
   padding-top: 54px;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 20px;
    color: white ;
    border-radius: 5px;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;
}
.link{
    text-decoration: none;
    color: tomato
}
.top-banner{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}