body{
    font-family: 'Playfair Display', serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
.orange_flavour{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 30px;
}
.half-width{
    width: 50%;
    padding-left: 80px;
    padding-top: 5px;
    padding-right: 30px;
}
.half-width img{
    width: 100%;
    padding-top: 54px;
}
.link-button{
    text-decoration: none;
    padding: 10px 20px;
    color: white ;
    border-radius: 5px;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;
}
.link{
    text-decoration: none;
    color: tomato
}
.top-banner{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}
.my-dream{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 7px 7px 10px gray;
    padding-left: 15px;
    border-radius: 1rem;
}
.experience-area{
    background-image: url(experience.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 2;
}
#web-dev{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 2;
}
footer p{
    text-align: center;
}
