body{
    font-family: 'Playfair Display', serif;
}
h1{
    font-size: 50px;
}
h3{
    font-size: 25px;
}
.orange_flavour{
    color: orange;
}
section{
    display: -webkit-inline-flex;
}
.half-width{
    width: 50%;
    padding-left: 2%;
    
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 20px;
    color: white ;
    border-radius: 5px;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;
}
.link{
    text-decoration: none;
}